<h1>Show Recipe</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @recipe.name %>
  </li>

  <li>
    <strong>Image:</strong>
    <img class="card-img-top" src="<%= WaffleTest.ImageUploader.url({@recipe.image, @recipe}) %>" alt="Card image cap">
  </li>

</ul>

<span><%= link "Edit", to: Routes.recipe_path(@conn, :edit, @recipe) %></span>
<span><%= link "Back", to: Routes.recipe_path(@conn, :index) %></span>
